@import url('https://fonts.googleapis.com/css2?family=Sura:wght@400;700&display=swap');

body {
    margin: 0px;
    font-family: 'Sura';
    font-style: normal;
    display: grid;
}

header {
    display: flex;
    justify-content: center;
    padding: 5px 25px;
}

.logo {
    font-weight: 700;
    font-size: 40px;
    line-height: 63px;
}

.sep {
    border: .5px solid #CECECE;
    margin-bottom: 50px;
}

/* wrong input Animation */
.invalid {
    animation: flash 1s;
}

@keyframes flash {
    5% {
        border-color: crimson;
    }
    
    100% {
        border-color: #ccc;
    }
}

/* Loading Animation */
.spiral {
    font-size: 40px;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.info-bar {
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.show {
    visibility: visible;
}
/* -------------------------------- */

.outer {
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

.row {
    /* border: 1px solid blue; */
    display: flex;
    flex: 1;
}

.letter {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    width: 70px;
    height: 70px;
    border: 2px solid #C8C8C8;
}